html{
	background-color: white;
	font-family:Verdana,"Arial Rounded MT Bold",Arial;
	font-weight:normal;
	font-size:14px;
	color: #003333;
	padding:20px;	
}

body{
	max-width: 1200px;
	margin: 0px auto;
	box-sizing:border-box;
    min-width: 310px;
    background-color: white;
}

#titleBar{
	padding:10px;
	font-size:40px;
	background-color: orange;
	line-height: 50px;
	min-height: 50px;
    text-align: right;
}

#titleBar > a > img
{
	height:60px;
	float: left;
}

#titleBar > a{
	text-decoration: none;
	color: inherit;
	display: block;
}

nav{
	background-color:#1a4747;
	padding: 10px;
	box-sizing:border-box;
    min-height: 40px;
    line-height: 20px;
    display: block;
}

#menuButton{
	display: none;
	line-height: 40px;
	float:right;
}

#menuButton > img{
	float: right;
	height: 30px;
	position: relative;
	margin-top: 5px;
}

.navField{
	float:left;
	text-align:center;
	min-width:80px;
	width:16.6%;
	box-sizing:border-box;
	text-decoration: none;
    color: white;
}

.navField > div{
	box-sizing: border-box;
}

.navField:hover > div
{
	font-weight: bold;
	box-sizing:border-box;
}

#articleWrapper{
    padding: 10px;
    border-left: 1px solid #003333;
    border-right: 1px solid #003333;
    color: #003333;
    background-color: #b2d5d5;
}

.articleTitle
{
    font-size: 1.3em;
}

footer{
	background-color: #003333;
	padding:5px;
    font-size:0.65em;
    color: white;
}

footer > ul{
	margin:0px;
	padding:0px;
}

footer > ul > li
{
	list-style:none;	
	margin:0px;
	padding:0px;
	float:left;
	width:50%;
	text-align:center;
}

footer > ul > li > a{
	text-decoration: none;
	color: inherit;
}

footer > ul > li:first-of-type
{
	text-align:left;
}


footer > ul > li:last-of-type
{
	text-align:right;
}