
@keyframes moveTrain{
    0%{
        left: 40px;
        top: 690px;
    }
    10%{
        left: 170px;
        top: 690px;
        -webkit-transform: rotate(-45deg);
    }
    20% {
        left: 200px;
        top: 656px;
        -webkit-transform: rotate(-90deg);
    }
    30% {
        left: 200px;
        top: 360px;
        -webkit-transform: rotate(-45deg);
    }
    40%{
        left : 230px;
        top: 350px;
        -webkit-transform: rotate(0deg);
    }
    50%{
      left:  675px;
      top: 350px;
      -webkit-transform: rotate(45deg);

    }
    60%{
        left: 695px;
        top: 370px;
        -webkit-transform: rotate(45deg);
        
    }
    70%{
        left: 760px;
        top: 495px;
        -webkit-transform: rotate(45deg);
    }
    80%{
        left: 810px;
        top: 510px;
        -webkit-transform: rotate(0deg);
    }
    100%{
        left: 913px;
        top: 510px;
    }
}

.container {
    position: relative;
}

#train {
    position: absolute;
    top: 690px;
    left: 40px;
    -webkit-animation: moveTrain 10s infinite;
    animation: moveTrain 10s infinite;
    animation-direction: alternate;
    
}

