@keyframes moveTrain{
    0%{ /*Erasmus*/
        left: 40px;
        top: 690px;
        -webkit-transform: rotate(0deg);
    }
    10%{/*Het rad*/
        left: 170px;
        top: 690px;
        -webkit-transform: rotate(0deg);
    }
    15% {/*Veeweide*/
        left: 200px;
        top: 656px;
        -webkit-transform: rotate(-90deg);
    }
    25% {/*Beekkant*/
        left: 200px;
        top: 360px;
        -webkit-transform: rotate(-90deg);
    }
    28% {/*Zwarte Vijvers*/
        left: 230px;
        top: 350px;
        -webkit-transform: rotate(0deg);
    }
    70%{/*Merode*/
        left:  675px;
      top: 350px;
      -webkit-transform: rotate(0deg);

    }
    80%{/*Thieffry*/
        left: 695px;
        top: 370px;
        -webkit-transform: rotate(45deg);
    }
    85%{/*Hankar*/
        left: 760px;
        top: 495px;
        -webkit-transform: rotate(45deg);
    }
    90%{/*Delta*/
        left: 810px;
        top: 510px;
        -webkit-transform: rotate(0deg);
    }
    100%{/*Hermann-Debroux*/
        left: 913px;
        top: 510px;
    }
}

.container {
    position: relative;
}


#train {
    position: absolute;
    top: 690px;
    left: 40px;
    -webkit-animation: moveTrain 10s ease infinite;
    -moz-animation: moveTrain 10s ease infinite;
    animation: moveTrain 10s ease infinite;
    animation-direction: alternate;
}


