/* GLOBAL */
html {
    scroll-behavior: smooth;
}

.header {
   align-content : center;
   text-align: center;
   margin: 50px auto;
}


section {
    margin: 120px  auto;
    width: 95%;
    text-align: center;
}

table {
    margin: 0 auto;
    width: 60%;
}

#chart {
    width: 100%;
}

@media only screen and (min-width: 1600px){
    section {
        width:  700px;
    }  
}

@media only screen and (max-width: 768px){
    h1 {
        font-size: 40px !important;
    }
}
