@{ 
    //TODO 09: View Opmaken
}

@using Microsoft.AspNetCore.Http


@if(Context.Session.GetString("LoggedIn") == "true"){
    <div>
        Hier staat geheime informatie...
        <div>
            <img src="~/images/Top-Secret.jpg" class="img-fluid img-thumbnail mt-2 mb-2" />
        </div>
        <div>
            Ga naar de
            <a asp-controller="Home" asp-action="Otherpage">andere pagina.</a>
        </div>
        <div>
            Ga naar de
            <a asp-controller="Home" asp-action="Logout">logout pagina.</a>
        </div>
    </div>
}
else {
    <div>
        U bent niet (correct) ingelogd, ga terug naar de 
        <a asp-controller="Home" asp-action="Index"> Login Pagina</a>
    </div>
}

