@*
    //TODO 10: View Opmaken
*@

<div>
    U probeerde in te loggen met verkeerde gegevens. Ga terug naar de <a asp-controller="Home" asp-action="Index">login pagina</a>
    en probeer opnieuw.
</div>
