/* GLOBAL */
html {
    scroll-behavior: smooth;
}

section {
    max-width: 90%;
    margin: 0 auto;
}

.header {
   align-content : center;
   text-align: center;
   margin: 50px auto;
}

@media only screen and (min-width: 624px){
    #grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: .5rem;
    }

    .element {
        display: flex;
        width: 300px;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 624px){
    #grid{
        margin-left: 10px;
        margin-right: 10px;
    }
    .element{
        margin: 10px auto;
        max-width: 500px;
    }
}