@{
    //TODO 08: Add Razor View voor Contact 
}

    <div class="container p-0">
        <div class="card mt-2 mb-2">
            <div class="card-body">
                <h4 class="card-title">Contactgegevens</h4>
                <h5><u>Adres:</u></h5>
                <p>
                    Badeho<br />
                    Rondestraat 1<br />
                    8340 Hoekene
                </p>

                <h5><u>e-mail:</u></h5>
                <p>
                    brood@badeho.be
                </p>

                <h5><u>Telefoon:</u></h5>
                <p>
                    +32 56 26 41 60
                </p>
            </div>
        </div>
    </div>